
/* Cambiar el color primario de Bootstrap */
:root {
--bs-primary: #ff6b6b; /* Sobreescribe el azul por un coral */
}

/* Modificar la navbar */
.navbar {
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*header*/
#headerLeft {
    width: 60%;
}


#imagePortrait {
    width: 40%;
    /*width: 100% \9;*/
    
}
#portraitPicture img {
    max-width: 200px;  /* Ajusta este valor según necesites */
    height: auto;      /* Mantiene la proporción */
    border-radius: 10px; /* Ejemplo: esquinas redondeadas */
}


